<nav class="navbar">
  <div class="navbar-title">VenueHub</div>
  <ul class="navbar-links">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/events" routerLinkActive="active">Meus Eventos</a></li>
    <li><a routerLink="/chatbot" routerLinkActive="active">Criar Evento</a></li>
    <li><a routerLink="/proposals" routerLinkActive="active">Minhas propostas</a></li>
    <li><a routerLink="/profile" routerLinkActive="active">Perfil</a></li>
    <li *ngIf="loggedIn"><a (click)="logout()">Sair</a></li>

  </ul>
</nav>
