<h2 mat-dialog-title>Fazer Proposta - {{ data.venueName }}</h2>

<mat-dialog-content>
 
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Evento</mat-label>
    <mat-select [(value)]="selectedEventId">
      <mat-option *ngFor="let event of userEvents" [value]="event.id">
        {{ event.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Valor da proposta</mat-label>
    <input matInput type="number" [(ngModel)]="proposalValue" min="0" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="dialogRef.close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="sendProposal()">Enviar</button>
</mat-dialog-actions>
